body {
	font-family: "Palation Linotype";
	padding: 0;
	margin: 0;
	color: black;
}

.navbar {
	background-image: linear-gradient(to bottom,#000 0,#222 100%);
	margin: 0;
	border-width: 0;
}

.navbar .container {
	margin: 0;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

#logindivone {
	border: 2px black;
	border-style: groove;
	border-radius: 10px;
	background-color:rgba(87,77,75,.1);
	height: 600px;
}

.main-image {
	
	min-height:500px;
	background-image:url("broom.jpg");
	background-position: 80% 80%; 
	background-size:100%;
}

.firstimage {
	min-height:500px;
	background-image:url("Women.jpg");
	background-size:100%;
}

.main-words{
	text-align: center;
	padding-top:200px;
	margin:auto;
	display:block;
}

.padd2 {
	padding-left: 20px;
}

.padd {
	padding-right: 20px;
}

<<<<<<< HEAD
/*ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:black;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color:white;
}*/
=======
ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    background-color:black;
		}

		li {
		    float: left;
		}

		li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}

		li a:hover {
		    background-color:rgb(62, 131, 243); 
		}

		#child-account{
			width:200px;
			height:200px;
			background-color: black;
			color: white;
			border-radius:50%;
			text-align: center;

		}

		#parent-account{
			width:200px;
			height:200px;
			background-color: black;
			color: white;
			border-radius:50%;
			text-align: center;

		}

		#pad {
			height:200px;
		}

		    background-color:white;
		}
>>>>>>> b1bc33acb61ee427676654111233f7a56b8822dc
