body {
	font-family: "Palation Linotype";
	padding: 0px;
	margin:0px;
}

#logindivone {
    border: 2px black;
    border-style: groove;
    border-radius: 10px;
	background-color:rgba(87,77,75,.1);
	height: 600px;
}

.main-image {
	width: 100%;
	min-height:500px;
	background-color:red;

}

.main-words{
	text-align: center;
	padding-top:200px;
	margin:auto;
	display:block;
}

ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    background-color:rgb(22, 107, 245); 
		}

		li {
		    float: left;
		}

		li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}

		li a:hover {
		    background-color:rgb(62, 131, 243); 
		}