.body {
	background-color: #090AA7
	font: "Palatino Linotype";
}
.div {
}

#logindivone {
    border: 2px black;
    border-style: groove;
    border-radius: 10px;

	background-color:rgba(87,77,75,.1);
/*	width:350px;*/
	height: 600px;
}